*, html  {
  margin:0;
  padding:0;
  background-color: #fafafa;
}

.navbar {
  background-color: #49617d;
  color: white;

}

.navbar-brand {
  background-color: #49617d;
  color: #fafafa;
}

.navbar-brand:hover {
  color: #b8b8b8;
}

.nav-link {
  color: #fafafa;
  font-size: 10pt;
  text-transform: none;
}

.nav-link:hover {
  color: #b8b8b8;
  font-size: 10pt;
  text-transform: none;
}

#name {
  font-size: 22px;
}

.link {
  color: #49617d;
}

.descrip {
  margin: 45px;
}

.img {
  height: 150px;
  width: 190px;
}

.timeline {
  font-size: 8pt;
  color: #707070;
}

.text-block {
  background-color: #eaeaea;
  padding: 4px;
}

div.text-block {
  border: 2px solid #b8b8b8;
}
