*, html  {
  margin:0;
  padding:0;
  background-color: #f8f3ea;
}

.navbar {
  background-color: #49617d;
  color: white;

}

.navbar-brand {
  background-color: #49617d;
  color: #fafafa;
  font-size: 24pt;
}

.navbar-brand:hover {
  color: #b8b8b8;
}

.nav-link {
  color: #fafafa;
  font-size: 14pt;
  text-transform: none;
}

.self-nav-link {
   color: #fafafa;
  font-size: 14pt;
  text-transform: none;
  text-decoration: underline white;
}


.nav-link:hover {
  color: #b8b8b8;
  font-size: 14pt;
  text-transform: none;
}

.self-nav-link:hover {
  color: #b8b8b8;
  font-size: 14pt;
  text-transform: none;
  text-decoration: underline white;
}


#name {
  font-size: 26px;
}

.link {
  color: #49617d;
}

.descrip {
  margin: 45px;
}

.img {
  height: 150px;
  width: 190px;
}

.timeline {
  font-size: 8pt;
  color: #707070;
}

.text-block {
  background-color: #eaeaea;
  padding: 4px;
}

div.text-block {
  border: 2px solid #b8b8b8;
}

.current_page {
  color: #fafafa;
}
#court {
  height: 240px;
  width: 140px;
  position: relative;
  left: -300px;
  top: 200px;
}

