*, html  {
  margin:0;
  padding:0;
  background-color: #fafafa;
}

.navbar {
  background-color: #49617d;
  color: white;

}

.navbar-brand {
  background-color: #49617d;
  color: #fafafa;
}

.navbar-brand:hover {
  color: #b8b8b8;
}

.nav-link {
  color: #fafafa;
  font-size: 10pt;
  text-transform: none;
}

.nav-link:hover {
  color: #b8b8b8;
  font-size: 10pt;
  text-transform: none;
}

#name {
  font-size: 22px;
}

#about-me {
  background-color: #fafafa;
  float: left;
  height: 35vh;

  margin-left: 35vh;
  position: absolute;
  top: 100px;

}

#portrait {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;

  height: 35vh;
  float: left;
}

#about-site {
  color: black;
  background-color: #ebebeb;
  margin-top: 100px;
  text-align: center;
  margin-bottom: -20px;
}

#nText {
  background-color: #ebebeb;
}

.text-block {
  background-color: #eaeaea;
  padding: 4px;
}

div.text-block {
  border: 2px solid #b8b8b8;
}

.link {
  color: #49617d;
}

.bar {
  margin-top: 500px;
  height: 2px;
  width: 80%;
  background-color: #b8b8b8;
  margin-left: auto;
  margin-right: auto;
}

#code  {
  margin-bottom: 20px;
}
