*, html  {
  margin:0;
  padding:0;
}

.navbar {
  background-color: #49617d;
  color: white;

}

.navbar-brand {
  background-color: #49617d;
  color: #fafafa;
}

.navbar-brand:hover {
  color: #b8b8b8;
}

.nav-link {
  color: #fafafa;
  font-size: 10pt;
  text-transform: none;
}

.nav-link:hover {
  color: #b8b8b8;
  font-size: 10pt;
  text-transform: none;
}
